<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RR Admin</title>
    <link crossorigin="anonymous" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        href="https://lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    {% raw %}

    <div id="app" style="margin: 16px;">
        <button @click="admin_db_init">初始化db</button>
        <button @click="admin_db_drop">删除db</button>
        <button @click="admin_create_item">new item</button>
        <br /><br />

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">未启用 {{ request_list_inited_0.length }}</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default" v-for="item in request_list_inited_0">
                    <div class="panel-body">
                        <p>token {{ item.token }}</p>
                        <p>create time {{ formatDateTime(item.item_create_time) }}</p>
                        <button @click="goto_stage_qr_url(item.token)">显示二维码</button>
                        <button @click="goto_stage_url(item.token)">进入目标页面</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">已启用 {{ request_list_inited_1.length }}</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default" v-for="item in request_list_inited_1">
                    <div class="panel-body">
                        <p>token {{ item.token }}</p>
                        <p>create time {{ formatDateTime(item.item_create_time) }}</p>
                        <button @click="goto_stage_qr_url(item.token)">显示二维码</button>
                        <button @click="goto_stage_url(item.token+'&ignore=1')">进入目标页面</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">已禁用 {{ request_list_inited_2.length }}</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default" v-for="item in request_list_inited_2">
                    <div class="panel-body">
                        <p>token {{ item.token }}</p>
                        <p>create time {{ formatDateTime(item.item_create_time) }}</p>
                        <button @click="goto_stage_qr_url(item.token)">显示二维码</button>
                        <button @click="goto_stage_url(item.token+'&again=1')">进入目标页面</button>
                    </div>
                </div>
            </div>
        </div>
        {% endraw %}
    </div>
</body>
<script crossorigin="anonymous" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    src="https://lib.baomitu.com/jquery/1.12.4/jquery.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    src="https://lib.baomitu.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-+jvb+jCJ37FkNjPyYLI3KJzQeD8pPFXUra3B/QJFqQ3txYrUPIP1eOfxK4h3cKZP"
    src="https://lib.baomitu.com/vue/2.6.11/vue.js"></script>
<script crossorigin="anonymous" integrity="sha384-zn1vPVAulmXb7m7zo/eHPJOkmryKZUNog1TsyNLdDjCccxcOOGAUyC62x3QNN99x"
    src="https://lib.baomitu.com/axios/0.20.0-0/axios.min.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            request_list_inited_0: [],
            request_list_inited_1: [],
            request_list_inited_2: []
        },
        methods: {
            goto_stage_qr_url: function (token) {
                window.open(this.gen_stage_qr_url(token), "_blank");
            },
            goto_stage_url: function (token) {
                window.open(this.gen_stage_url(token), "_blank");
            },
            gen_stage_qr_url: function (token) {
                var protocol = window.location.protocol;
                var domain = window.location.host;
                var url = protocol + "//" + domain + "/rr/qr?token=" + token;
                return url;
            },
            gen_stage_url: function (token) {
                var protocol = window.location.protocol;
                var domain = window.location.host;
                var url = protocol + "//" + domain + "/rr/stage?token=" + token;
                return url;
            },
            admin_create_item: function () {
                var that = this;
                axios.get("/rr/admin/api/create", config = { headers: { "access_token": "NMSL" } })
                    .then(res => {
                        alert(res.data);
                        that.admin_get_all();
                    }).catch(e => { console.log(err) });
            },
            admin_db_drop: function () {
                axios.get("/rr/admin/api/db/drop", config = { headers: { "access_token": "NMSL" } })
                    .then(res => {
                        alert(res.data);
                    }).catch(e => { console.log(err) });
            },
            admin_db_init: function () {
                axios.get("/rr/admin/api/db/init", config = { headers: { "access_token": "NMSL" } })
                    .then(res => {
                        alert(res.data);
                    }).catch(e => { console.log(err) });
            },
            admin_get_all: function () {
                this.request_list_inited_0 = [];
                this.request_list_inited_1 = [];
                this.request_list_inited_2 = [];
                var that = this;
                axios.get("/rr/admin/api/get/all", config = { headers: { "access_token": "NMSL" } })
                    .then(res => {
                        res.data.r_list.forEach(element => {
                            if (element.inited == 0) {
                                that.request_list_inited_0.push(element);
                            } else if (element.inited == 1) {
                                that.request_list_inited_1.push(element);
                            } else if (element.inited == 2) {
                                that.request_list_inited_2.push(element);
                            }
                        });
                    });
            },
            formatDateTime: function (UnixTime) {
                var date = new Date(parseInt(UnixTime));
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                var minute = date.getMinutes();
                var second = date.getSeconds();
                minute = minute < 10 ? ('0' + minute) : minute;
                second = second < 10 ? ('0' + second) : second;
                return y + '-' + m + '-' + d + ' ' + h + ':' + minute + ':' + second;
            },

        },
        mounted() {
            this.admin_get_all();
        }
    });



</script>

</html>